.card {
    @include respond(tab-port) {
        height: auto;
    }
    perspective: 150rem; // tạo hiệu ứng xoay cho thật hơn
    position: relative;
    height: 45rem;

    &__side {
        @include respond(tab-port) {
            position: relative;
            border-radius: 5rem 5rem 0rem 0rem;
        }
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        color: white;
        font-size: 2rem;
        height: 45rem;
        width: 100%;
        backface-visibility: hidden; // giấu phần back part, phần phía dưới của element
        transition: all 0.8s ease;
        border-radius: 5rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        overflow: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {
            @include respond(tab-port) {
                transform: rotateY(0);
                border-radius: 0rem 0rem 5rem 5rem;
            }
            background-color: green;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &__picture {
        clip-path: ellipse(80% 70% at 50% 30%);
        background-size: cover;
        background-blend-mode: screen;
        height: 23rem;
        &--1 {
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark),
                url("../../img/pexels-pixabay-414628.jpg");
        }
        &--2 {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark),
                url("../../img/pexels-pixabay-459403.jpg");
        }

        &--3 {
            background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark),
                url("../../img/pexels-pixabay-4497761.jpg");
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        border-radius: 5rem;
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone; // bo tròn chữ bị break trong 1 block
        &--1 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-secondary-light, 0.85),
                rgba($color-secondary-dark, 0.85)
            );
        }
        &--2 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.85),
                rgba($color-primary-dark, 0.85)
            );
        }
        &--3 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light, 0.85),
                rgba($color-tertiary-dark, 0.85)
            );
        }
    }

    &__details {
        padding: 3rem;
        color: $color-grey;

        ul {
            list-style: none;
            width: 70%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #dbdbdb;
                }
            }
        }
    }

    &__cta {
        @include respond(tab-port) {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 4rem;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }
    &__price-box {
        @include respond(tab-port) {
            margin-bottom: 3rem;
        }
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 6rem;
        font-weight: 100;
        margin-bottom: 5rem;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
        @include respond(tab-port) {
            transform: rotateY(0);
        }
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}
